.place__title {
    color: #FFFFFF;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 770px) {
    .place__title {
        width: 97%;
        font-size: 42px;
        line-height: 48px;
    }
}

@media screen and (max-width: 650px) {
    .place__title {
        width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        max-width: calc(100% - 32px);
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
    }
}