.cover__subtitle {
    margin: 32px 0 0;
    color: #FFFFFF;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 5;
}

@media screen and (max-width: 530px) {
    .cover__subtitle {
        font-size: 14px;
        max-width: 288px;
        line-height: 1.14;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        margin-top: 16px;
    }
}