.cover__subtitle {
    margin: 0;
    color: #FFFFFF;
    width: 360px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    align-self: center;
    padding-bottom: 245px;
}