.place__website__url-heading {
    color: #AAAAAA;
    margin: 0 0 12px;
<<<<<<< HEAD
=======
    font-style: normal;
    font-weight: normal;
>>>>>>> origin/master
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
}
