.header__logo {
}

.header__logo:hover {
    opacity: 0.8;
    transition: all 0.2s linear;
}

@media screen and (max-width: 424px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}