.place__website__link {
    color: #FFFFFF;
<<<<<<< HEAD
=======
    font-style: normal;
    font-weight: normal;
>>>>>>> origin/master
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
}

.place__website__link:hover{
    opacity: 0.8;
    transition: all 0.1s ease-in;
}