.intro__text {
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 37px;
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
}
