.intro__list-text {
    margin: 0;
    color: #FFFFFF;
    max-width: 690px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}