.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 48px 40px;
    grid-template-areas:
    "title website"
    "image paragraph"
    "image paragraph";
}