.place {
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 460px minmax(min-content,max-content);
    padding-bottom: 80px;
    margin: 0;
}

.place:last-of-type {
    padding-bottom: 0;
}