.intro__title {
    margin: 0;
    padding-top: 92px;
    padding-bottom: 36px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media screen and (max-width: 770px){
    .intro__title{
        padding-top: 88px;
    }
}